*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .appbar_container{
    width: 68rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3.5rem;
    font-weight: 700;
  }
  .appbar_container ul{
    display: flex;
  }
  .appbar_container li{
     text-decoration: none;
     list-style: none;
     margin-left: 1.5rem;
     opacity: 0.4;
  }
  .article-body {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1; 
    max-height: 3em; 
    transition: max-height 0.3s ease;
  }
  
  .article-body.expanded {
    -webkit-line-clamp: unset;
    max-height: none;
  }
  
  